build/
.cache/
.idea/
.vscode/
*.user
*.log
*.tmp
*.swp
*.swo

/user_settings/
/project_settings/imgui.ini
/imgui.ini
/c-engine
/libCanisEngine.so
/libGameCode.so

/csharp/**/bin/
/csharp/**/obj/
/csharp/managed/
*.dll
*.pdb
*.so
